/**
 * All global variables that are used in the project are defined in this file.
 *
 * Bootstrap has some own custom properties.
 * To see wich click this link: https://getbootstrap.com/docs/5.0/customize/css-variables
 */

/* ==========================================================================
   Colors
   ========================================================================== */

:root {
  /* Greyscale */
  --li-color-grey-100: #fdfdfd;
  --li-color-grey-200: #f6f6f6;
  --li-color-grey-300: #eaeaea;
  --li-color-grey-400: #d6d6d6;
  --li-color-grey-500: #bcbcbc;
  --li-color-grey-600: #9b9b9b;
  --li-color-grey-700: #767676;
  --li-color-grey-800: #505050;
  --li-color-grey-900: #272727;

  /* Primary colors */
  --li-color-primary-100: #4191dc;
  --li-color-primary-200: #2e86d9;
  --li-color-primary-300: #1080e8;
  --li-color-primary-400: #0779e3;
  --li-color-primary-500: #0070f3;
  --li-color-primary-600: #026dd1;
  --li-color-primary-700: #066ac7;
  --li-color-primary-800: #0063bf;
  --li-color-primary-900: #064d8f;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
  /* Font stacks */
  --li-font-sans-serif: 'Rubik', Arial, Helvetica, Calibri, sans-serif;
  --li-font-monospace: 'Roboto Mono', Monaco, Consolas, 'Courier New',
    sans-serif;

  /* Font weights */
  --li-font-weight-light: 300;
  --li-font-weight-base: 400;
  --li-font-weight-medium: 500;
  --li-font-weight-bold: 700;
}

/* ==========================================================================
   Spacing
   ========================================================================== */

:root {
  --li-spacer-6: calc(1rem * 6);
  --li-spacer-7: calc(1rem * 12);
  --li-spacer-8: calc(1rem * 24);
}
