/* Headings
   ========================================================================== */

.subline {
  color: var(--li-color-grey-700);
}

/* Links
   ========================================================================== */

a,
.link-primary {
  color: var(--li-color-primary-500);
  outline-color: var(--li-color-primary-500);
}

.link-dark {
  color: var(--li-color-grey-900);
  outline-color: var(--li-color-grey-900);
}
